MiniProjetComplet/ClientWeb/ClientWeb/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjetDefinition" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Connexion_InputMessage">
    <wsdl:part name="parameters" element="tns:Connexion" />
  </wsdl:message>
  <wsdl:message name="IService_Connexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Instription_InputMessage">
    <wsdl:part name="parameters" element="tns:Instription" />
  </wsdl:message>
  <wsdl:message name="IService_Instription_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAlbumCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumCollection" />
  </wsdl:message>
  <wsdl:message name="IService_GetAlbumCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPhotoAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoAlbum" />
  </wsdl:message>
  <wsdl:message name="IService_GetPhotoAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoto" />
  </wsdl:message>
  <wsdl:message name="IService_AddPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePhoto" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlbum" />
  </wsdl:message>
  <wsdl:message name="IService_AddAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlbum" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Connexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Connexion" message="tns:IService_Connexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConnexionResponse" message="tns:IService_Connexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Instription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Instription" message="tns:IService_Instription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InstriptionResponse" message="tns:IService_Instription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAlbumCollection" message="tns:IService_GetAlbumCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAlbumCollectionResponse" message="tns:IService_GetAlbumCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotoAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPhotoAlbum" message="tns:IService_GetPhotoAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPhotoAlbumResponse" message="tns:IService_GetPhotoAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPhoto" message="tns:IService_AddPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPhotoResponse" message="tns:IService_AddPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemovePhoto" message="tns:IService_RemovePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemovePhotoResponse" message="tns:IService_RemovePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddAlbum" message="tns:IService_AddAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddAlbumResponse" message="tns:IService_AddAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveAlbum" message="tns:IService_RemoveAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveAlbumResponse" message="tns:IService_RemoveAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connexion">
      <soap:operation soapAction="http://tempuri.org/IService/Connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Instription">
      <soap:operation soapAction="http://tempuri.org/IService/Instription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumCollection">
      <soap:operation soapAction="http://tempuri.org/IService/GetAlbumCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotoAlbum">
      <soap:operation soapAction="http://tempuri.org/IService/GetPhotoAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoto">
      <soap:operation soapAction="http://tempuri.org/IService/AddPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePhoto">
      <soap:operation soapAction="http://tempuri.org/IService/RemovePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbum">
      <soap:operation soapAction="http://tempuri.org/IService/AddAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAlbum">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50978/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>