MiniProjetComplet/ClientWPF/ClientWPF/Service References/WebService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjetDefinition" />
  <xs:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:50978/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="ConnexionResult" nillable="true" type="q1:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="u" nillable="true" type="q2:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="InscriptionResult" nillable="true" type="q3:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="GetAlbumCollectionResult" nillable="true" type="q4:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="a" nillable="true" type="q5:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="AddAlbumResult" nillable="true" type="q6:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAlbumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesFromUserAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesFromUserAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="GetPicturesFromUserAlbumResult" nillable="true" type="q7:ArrayOfImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesIdFromUserAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesIdFromUserAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPicturesIdFromUserAlbumResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesAlbumTuple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesAlbumTupleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetPicturesAlbumTupleResult" nillable="true" type="q9:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageDownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="ImageInfo" nillable="true" type="q10:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="ImageData" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagethumbnailDownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ObjetDefinition" minOccurs="0" name="ImageInfo" nillable="true" type="q12:ImageInfo" />
        <xs:element minOccurs="0" name="MaxLargestSide" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Picture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="ImageData" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ObjetDefinition" name="ImageInfo" nillable="true" type="q14:ImageInfo" />
  <xs:element name="RemovePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
        <xs:element minOccurs="0" name="photoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePictureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>