MiniProjetWPF/TestServices/Service References/ImageTransfertServiceReference/ImageTransfertService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhotoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element name="AlbumId" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoInfo" nillable="true" type="tns:PhotoInfo" />
</xs:schema>